*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #000;
}

.background{
    background: url(newbg2.png) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.icon{
    color: white;
    position: absolute;
    margin-left: 74%;
    top: 220px;

}

.text, .box{
    margin-top: 45vh;
    flex: 1;
}

.text{
    margin-left: 10%;
    font-weight: 300px;
}

.box{
    margin-left: 25%;

}
.box-trans{

    height: 360px;
    width: 360px;
    background: rgba(0,0,0,0.9);
    
    margin-left: 20px;
    top: 200px;

}

.text h1{
    font-size: 70px;
    color: #fff;
    font-weight: 500;
}

}
.text p{
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.text p a{
    color: #fff;
    font-weight: 700;
}

.form{
    background: transparent;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
}

input{
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.username, .password{
    border-bottom: 1px solid white;
    font-weight: 900;

}

.button{
    background: #9932CC;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
}

.button:hover{
    background: #fff;
    color: #9932CC;
}
.username::-webkit-input-placeholder {
color: white;
}
.password::-webkit-input-placeholder {
color: white;
}