*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #000;
}

.background{
    background: url(newbg1.png) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.text{
    margin-top: 45vh;
    flex: 1;
}

.box{
    margin-top: 26vh;
    flex: 1;
}

.text{
    margin-left: 10%;
    font-weight: 300px;
}

.box{
    margin-left: 70%;

    position: absolute;
}
.box2{
    right: 280px;
    bottom: 10px;
    position: absolute;
    margin-top: 26vh;
    flex: 1;
}
.box3{
    right: 530px;
    bottom: 66px;
    position: absolute;
    margin-top: 40vh;
    flex: 1;
}

.text h1{
    font-size: 70px;
    color: #fff;
    font-weight: 500;
}

.text p{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.text p a{
    color: #fff;
    font-weight: 700;
}

.form{
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
}

input{
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.username, .password, .fullname, .email{
    border-bottom: 1px solid #fff;
    font-weight: 700;
}

.button{
    background: #9932CC;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
}

.button:hover{
    background: #fff;
    color:#9932CC
}
.fullname::-webkit-input-placeholder {
color: white;
}
.email::-webkit-input-placeholder {
color: white;
}
.username::-webkit-input-placeholder {
color: white;
}
.password::-webkit-input-placeholder {
color: white;
}